html
{ }

*
{ margin: 0;
  padding: 0;}

body
{ font-family: "trebuchet ms", arial, sans-serif;
  font-size: .84em;
  color: #222;
  line-height: 1.4em;
  background-color:#000000;
  width: 900px;
  margin: 10px auto 0px auto;}
  
h1, h2, h3, h4, h5, h6 
{ color: #362C20;
  letter-spacing: 0em;
  padding: 0 0 5px 0;}

h1, h2, h3
{ font: normal 150% arial;
  margin: 0 0 15px 0;
  padding: 0 0 5px 0;
  color: #A30101;}

h2
{ font-size: 140%;
  padding: 9px 0 5px 0;
  color: #36B0E3;}


a, a:hover
{ outline: none;
  text-decoration: underline;
  color: #36B0E3;}

p
{ line-height: 1.5em;
  padding-bottom: 17px;}

blockquote
{ margin: 20px 0; 
  padding: 10px 20px 0 20px;
  border: 1px solid #E5E5DB;
  background: #FFF;}

ul
{ margin: 2px 0 12px 0;}

ul li
{ list-style-type: none;
  background: url(bullet.png) no-repeat;
  margin: 0 0 0 0; 
  padding: 0 0 4px 25px;
  line-height: 1.5em;}

ol
{ margin: 8px 0 22px 0;}

ol li
{ margin: 0 0 11px 20px;}

.left
{ float: left;
  width: auto;
  margin-right: 10px;}

.right
{ float: right; 
  width: auto;
  margin-left: 10px;}

.center
{ display: block;
  text-align: center;
  margin: 20px auto;}

#basic-accordian
{ padding: 0px;
  background: #FFF;}

.accordion_headings
{ padding: 10px 25px 10px 25px;
  background: #444;
  color: #FFF;
   
  border-bottom: 1px solid #222;
  cursor: pointer;
  font-size: 200%;
  position: relative;
  z-index: 20;}

.accordion_headings:hover
{ background: #36B0E3;
  ;}

.accordion_child
{ padding: 25px;
  background: #FFF;
  border-left: 34px solid #36B0E3;}

.header_highlight
{ background: #36B0E3;
  border-bottom: 1px solid #36B0E3;
  border-left: 10px solid #36B0E3;}




